<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcrição de Áudio</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Transcrição de Áudio com Whisper</h1>
        <p>Selecione um arquivo de áudio para transcrever:</p>

        <div class="file-input-container">
            <input type="file" id="audioFile" accept=".mp3, .wav, .ogg, .m4a">
        </div>
        
        <button onclick="transcribeAudio()">Transcrever</button>
        
        <div id="status"></div>
        
        <h3>Transcrição</h3>
        <textarea id="transcription" rows="10" readonly></textarea>

        <div id="loading" style="display: none;">
           Obs: Dependendo do tamanho do áudio, a transcrição pode demorar um pouco...
        </div>

        <a id="downloadLink" href="#" style="display:none;" download="transcription.txt">Baixar Transcrição</a>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
