body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

.card {
    margin-top: 10%;
    margin: auto;
   
}

.container {
    padding-top: 20px;
}

#navbar2 {
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
}
.text-center{
    color: black;
    
}
